a{
    text-decoration: none;
    font-size: 13px;
}

h1{
    color:gray;
    text-align: center;
    background-color: rgb(245, 248, 248);
    border: 1px rgb(192, 188, 188) solid;
    box-shadow: 0px 3px 0px rgb(158, 155, 155);

}
h2{
    text-align: center; 
}

.bouton{
    margin: auto;
    width: 200px;
    display:flex;
    justify-content: center;
    padding: 10px 5px 10px 5px ;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(77, 163, 142); 
}

#titre {
    margin-top:10px;
    margin-bottom: 10px;
    width: 99%;
}

#author {
    margin-top:10px;
    margin-bottom: 25px;
    width: 99%; 
}

#rechercher{
    width: 125px;
    margin-top:25px;
    margin-bottom: 20px;
    background-color: rgb(77, 163, 142);
    color: white;
    text-align: center;
    border: none;
    border-radius: 2px; 
    padding: 10px 0px 10px 0px ;
}

#annuler{
    width: 125px;
    margin-bottom: 10px;
    background-color: rgb(218, 86, 63);
    color: white;
    border: none;
    text-align: center; 
    border-radius: 2px; 
    padding: 10px 0px 10px 0px ;

}
    